
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">

        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="border border-3 border-primary"></div>
                
                <div class="card bg-white shadow-lg">
                    <div class="card-body p-5">
                       
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                        <form id="registerForm" method="post" enctype="multipart/form-data" asp-action="Register">
                             <span class="alert-danger" id="loginError">@ViewBag.ErrorMessage</span>
                            <div class="row">
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="userName">User Name (Required: User name must be email address)</label>
                                        <input type="email" id="UserName" name="UserName" class="form-control form-control-lg" required />

                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="firstName">First Name (Required)</label>
                                        <input type="text" id="FirstName" name="FirstName" class="form-control form-control-lg" required />

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-4 d-flex align-items-center">

                                    <div class="form-outline datepicker w-100">
                                        <label for="lastName" class="form-label">Last Name (Required)</label>
                                        <input type="text" name="LastName" class="form-control form-control-lg" id="LastName" required />
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-4 d-flex align-items-center">

                                    <div class="form-outline datepicker w-100">
                                        <label for="password" class="form-label">Password (Required)</label>
                                        <input type="password" name="Password" class="form-control form-control-lg" id="Password" min="7" required />
                                    </div>

                                </div>

                            </div>
                      
                            <div class="d-grid">
                                <button class="btn btn-outline-dark" id="registerUser" type="submit">Register</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

}
